<!DOCTYPE html>
<html>
  <head>
    <title>AcRailsEvent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Admin Interface</h1>
    <%= yield %>
    <%= link_to "admin", admin_events_path %>
  </body>
</html>
